<a href="https://colab.research.google.com/github/FlorDGM13/Python_DA_BEGINNER_1/blob/main/PAYTHON_DA_BEGGINNER_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##PYTHON

In [ ]:
!python -V

Python 3.11.11

##variables

In [ ]:
#variables:se crean cuando se asignan un valor

x = 5
y = "hola"
print(x)
print(y)

5
hola

conversio de variables

In [ ]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) #z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

obtener el tipo de dato con type()

In [ ]:
x = 5
y = "john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

muchs valores para multiples variables

In [ ]:
x,y,z = "orange","banana","cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

un valor para multiples variables

In [ ]:
x = y = z = "orange"
print(x)
print(y)
print(z)

orange
orange
orange

Desempaquetar una coleccion

In [ ]:
#si tienes una coleccion de valores en una lista, tupla etc python te permitira extraer los valores en variables
# a esto se le llama DESEMPACAR
fruits = ["apple","banana","cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#convertir de un tipo de dato a otro
x = 1
y = 2.8
z = 1j
a = float(x)
b = int(y)
c = complex(x)
print(a)
print(b)
print(c)
#NOTA: no se puede convertir un numoer complejo en otro tipo

1.0
2
(1+0j)

##CADENAS

bucle de una cadena con for

In [ ]:
#recorrer los caracteres de una cadena mediante for
for x in "banana":
  print(x)

b
a
n
a
n
a

longitud de duna cadena

In [ ]:
#LEN
a = "hello, world!"
print(len(a))

13

recorrer cadenas

In [ ]:
#busqueda en cadenas

a = "    the best things in life are free!"
print("free" in a)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

check if not

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

segmentacion de cadenas

In [ ]:
#slicing
b = "hello, world!"
print(b[2:5])

llo

In [ ]:
#cortar desde el principio
b = "hello, world!"
print(b[:5])

hello

In [ ]:
#cortar hasta el final
b = "hello, world!"
print(b[2:])

llo, world!

indexacion negativa

In [ ]:
b = "hello, world!"
print(b[-5:-2])

orl

modificacion de cadenas

##METODOS CADENAS

In [ ]:
#mayusculas
a = "hello, world!"
print(a.upper())

HELLO, WORLD!

In [ ]:
#minusculas
a = "HELLO, WORLD!"
print(a.lower())

hello, world!

In [ ]:
#eliminar espacios en blanco
a = " hello, world! "
print(a.strip())

hello, world!

In [ ]:
#remplezar cadenas con otras
a = "hello, world!"
print(a.replace("hello","hola"))

hola, world!

In [ ]:
#devolver una lista donde el texto entre el separador
#especificado se convierte en los elementos de la lista
a = "Hello, World!"
print(a.split(",")) #returns ['Hello',   'world']

['Hello', ' World!']

##CONCATENACION DE CADENAS

In [ ]:
#usando el operador +
a = "hello"
b = "world"
c = a + " " + b
print(c)

hello world

##FORMATO DE CADENA

In [ ]:
#podemos combinar cadenas y numeros utilizanfo f.strings o
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

In [ ]:
#format metodo
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

marcadores de posicion

In [ ]:
price = 49
txt = f"The price is {price} dollars"
print(txt)

The price is 49 dollars

In [ ]:
#incluyendo un modificador para formatear el valor
price = 49
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 49.00 dollars

In [ ]:
#con codigo python como operacioes matematicas
txt = f"the price is {20 * 59} dollars"
print(txt)

the price is 1180 dollars

##CARACTERES DE ESCAPE

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

##VALORES BOOLEANOS DE PYTHON

In [ ]:
#Cuando comparas dos valores, se evalua la espresion y python devulve la
#respuesta booleana:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
#cuando se ejecuta una condicion en una declaracion if pythin devulve
#True o False:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a



*   Evaluar valores y variables

In [ ]:
#Evaluar una cadena y un numero:
print(bool("hello"))
print(bool(15))

True
True

In [ ]:
#Evaluar dos variables
x = "hello"
y = 15
print(bool(x))
print(bool(y))

True
True



*   La mayoria de los valores son verdaderos

In [ ]:
#lo siguiente devolvera verdadero:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True



*  Algunos valores son falsos

In [ ]:
#Lo siguiente devolvera Falso:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False



*  Las funciones pueden devolver un valor booleano

In [ ]:
#Imprima la respuesta de una funcion:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
#Imprima "!SÍ¡"  si la funcion devulve verdadero, de lo contrario omprima "!NO¡"
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!



*  isinstance() funcion

In [ ]:
#Compruebe si un objeto es un entero o no:
x = 200
print(isinstance(x, int))

True

##OPERADORES CON PYTHON

In [ ]:
print(10 + 5)

15

PRECEDENCIA DEL OPERADOR

In [ ]:
#Los parentesis tienen la mayor precedencia, lo que significa que las expresiones
#dentro del parentesis deben evaluarse primero:
print((6 + 3) - (6 + 3))

0

In [ ]:
#La multiplicacion tiene mayor precedencia que la suma y por lo tanto las
#multiplicaciones se evalua antes que las sumas
print(5 + 4 * 6)

29

ORDEN DE PRECENCIA



1. Parentesis
2. Exponenciacion
3. +x,-x,~x
4. multiplicaion,division, floor division, and modulos
5. suma y resta
6. << >>
7. and
8. xor
9. or
10. ==, !=, >, >=, <, <=, is, is not, in,  in not
11. not
12. and
13. or

In [ ]:
#la suma y la resta tienen la MISMA PRECEDENCIA por lo tanto
#se evalua de izquierda a derecha
print(5 + 4 - 7 + 3)

5

##LISTAS DE PYTHON



*   Se utilizan para almacenar varios elementos un una sola variable
*   as listan son uno de los 4 tipos de datos integrados en python que se utilizan para almacenar colecciones de datos
*   Se crean utilizando corchetes

ELEMTNOS DE LA LISTA

*   Estan ordenados, son modificables y permiten valores duplicados
*   Estan idexados

ORDENADO

*   Tienen un orden definido y ese orden NO cambia
*   Si agrega nuevos elementos a una lista se colocan al final

CAMBIABLE

*   La lista es modificable asi que se puede cambiar, agregar y eliminar

TIPOS DE DATOS INTEGRADOS EN PYTHON

se utilizan para almacenar colecciones de datos

*   Lista: es una coleccion ordenada y modificable, permite duplicados
*   Tuplas: es una coleccion ordenada e inmutable, permite duplicados
*   Set: es una coleccion desordenada, inmutable* y NO indexada NO permite duplicados
*   dictionario: Es una coleccion** y modificable NO permite duplicados

*los elementos del conjunto no se pueden modificar, pero puedes eliminarlos y/o agrefarlos cuando lo desees
**apartir de la version 3.7 los diccionarios estan ORDENADOS
python 3.6 y versiones anteriores los diccionarios estan DESORDENADOS

In [ ]:
mylist = ["apple", "banana", "cherry"]

In [ ]:
#Crear una lista:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
#las listas permiten valores dupliados
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
#Imprima el numero de elementos en la lista
print(len(thislist))

5

ELEMENTOS DE LISTA: TIPOS DE DATOS

In [ ]:
#Tipos de daatos de cadena, int y booleanos:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

Una lista puede contener diferentes tipos de datos:

In [ ]:
#Una lista de cadenas , numeros enteros y valores booleanos:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']


*  TIPO

In [ ]:
#Cual es el tipo de datos de una lista?
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>


*   CONSTRUCTOR LIST ()

In [ ]:
#Usando list () constructor para hacer una lista
thislist = list(("apple", "banana", "cherry")) #lleva doble ()
print(thislist)

['apple', 'banana', 'cherry']

##ACCESO A ELEMENTOS DE LA LISTA


*   ACCEDER A ELEMENTOS

In [ ]:
#Imprima el segundo elemento de la lista:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana


*   INDEXACION NEGATIVA

In [ ]:
#Imprima el ultimo elemento de la lista:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry


*   RANGO DE INDICES

In [ ]:
#Devulve el tercer, cuarto y quiento elemento:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
#Devulve los elementos desde el principio hasta "kiwi" pero SIN incluirlo
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Devulve los elementos desde cherry hasta el final
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']


*   RANGO DE INDICES NEGATIVOS

In [ ]:
#Devulve los elementos desde naranja (-4) hasta mango (-1) pero sin incluir
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']


*   COMPROBAR SI EL ARTICULO EXISTE

In [ ]:
#Comprueba si manzana esta presente en la lista:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list


*   CAMBIAR EL VALOR DEL ARTICULO

In [ ]:
#Cambiar el segundo elemento
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']


*   CAMBIAR UN RENGO DE VALORES DE ELEMENTOS

In [ ]:
#Cambie los valores "banana" y "cereza" por los valores "grosella negra" y "sandia"
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

Si inserta mas elementos de los que reemplaza, los nuevos elementos se insertan donde especifico y los elementos se moverán en consecuencia

In [ ]:
#Cambie el segundo valor reemplazandolo con dos nuevos valores
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
#Cambie el segundo y tercer valor reemplazandolos con un valor
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']


*  INSERTAR ELEMENTOS

In [ ]:
#Insertar "sandia" como tercer elemento
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

##AGREGAR ELEMENTOS A UNA LISTA



*   AÑADIR A ELEMENTOS

In [ ]:
#Usando el append() metodo para agregar un elemento
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']


*   INSERTAR ELEMENTOS

In [ ]:
#Insertar un elemento como segunda posicion
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']



*   AMPLIAR LISTA

In [ ]:
#Añade los elementos de tropical a thislist
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']


*  AGREGAR CUALQUIER ITERABLE

In [ ]:
#Agregar elementos de una tupla a una lista
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

##ELIMINAR ELEMENTOS DE LA LISTA


*   Eliminar el elemento especficado

In [ ]:
#Eliminar "banana"
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

si hay mas de un elemento con el valor especificado, el remove() metodo elimina la primera aparicion

In [ ]:
#Eliminar la primera aparicion de "banana"
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']


*   ELIMINAR INDICE ESPECIFICADO

In [ ]:
#Eliminar el segundo elemento
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

si no especifica el indice, elpop() metodo elimina el ultimo elemento

In [ ]:
#Eliminar el ultimo elemento
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

la "del" palabra clave tambien elimina el indice especificado

In [ ]:
#Eliminar el primer elemento
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

la "del" palabra clave tambien puede eliminar la lista por completo

In [ ]:
#Eliminar la lista completa
thislist = ["apple", "banana", "cherry"]
del thislist


*   LIMPIAR LA LISTA

In [ ]:
#Limpiar el contenido de la lista
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

##LISTAS DE BUCLES


*   RECORRER UNA LISTA EN BUCLE

In [ ]:
#Imprima todos los elementos de la lista, uno por uno:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry


*    RECORRER LOS NUMEROS DE INDICE

In [ ]:
#Imprima todos los articulos consultando su numero de indice
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

el iterable creado en el ejemplo anterior es [0,1,2]


*   USANDO UN BUCLE WHILE

In [ ]:
#Imprimir todos los elementos, utilizando un while bulce para recorrer todos los
#indices
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry


*   BUCLES MEDIANTE COMPRENSION DE LISTAS

In [ ]:
#Un "for" bucle manual corto que imprimira todos los elementos de una lista:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

##COMPRENSIÓN DE LISTAS


*   COMPRENSIÓN DE LISTAS

In [ ]:
#apartir de una lista de frutas, desea una nueva lista, que contenga solo las
#frutas con la letra "a" en el nombre.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

conn  la comprension de lista se puede hacer todo esto en una sola linea

SINTAXIS:

newlist = [expression for item in iterable if condition == True]

El valor de retorno es una nueva lista, dejando la lista anterior sin cambiso

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"] #iterable
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']


*   CONDICION

In [ ]:
#Acepta unicamente articulos que no sean "manzana"
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

la *condicion* es opcional y se puede omitir

In [ ]:
#sin ninguna IF declaracion
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']


*   ITERABLE

In [ ]:
#Puede utilizar la range() funcion para crear un iterable:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

mismo ejemplo pero con condicion:

In [ ]:
#Acepte unicamente numeros inferiores a 5:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]


*   EXPRESIÓN

In [ ]:
#Extablezca los valores de la nueva lista en mayúsculas:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

Puedes configurar el resultado como desees:

In [ ]:
#Establezca todos los valores en la nueva lista en "hola":
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

la expresion tambien puede contener condiciones, no como un filtro, sino
como una forma de manipular el resultado:

In [ ]:
#Devulve "naranja" en lugar de "banana"
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

la expresion del ejemplo anterior dice:
"Devulve el articulo si no es plátano, si es plátano devulve naranja"

##ORDENAR LISTAS


*   ORDENAR LISTA ALFANUMÉRICAMENTE

In [ ]:
#Ordenar la lista alfanumerica
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
#Ordenar la lista numéricamente
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]


*   ORDEN DESCENDIENTE

In [ ]:
#Ordenar la lista descendentemente:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
#Ordenar la lista descendentemente:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]


*   PERSONALIZAR LA FUNCION DE ORDENAMIENTO

In [ ]:
#Ordene la lista segun que tan cerca este el numero 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]


*   ORDENACIÓN SIN DISTINCION ENTRE MAYÚSCULAS Y MINÚSCULAS

In [ ]:
#La clasificiacion que distingue entre mayusculas y minusculas puede dar un resultado inesperado
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
#Realizar una ordenacion de la lista sin distinguir entre mayusculas y minusculas
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']


*   ORDEN INVERSO

In [ ]:
#invertir el orden de los elementos de la lista
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

##COPIAR LISTAS

In [ ]:
#Haz un a copia  de una lista con el copy() metodo
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']


*   UTILICE EL METODO LIST()

In [ ]:
#Haz una copia de un alista con el list() metodo
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']


*   UTILICIE EL OPERADOR SLICE

In [ ]:
#Hacer una copia de una lista con el : operador:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

##UNIR LISTAS


*   UNIR DOS LISTAS

In [ ]:
#Une a dos listas:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Otra forma de unir dos listas es agreagando todos los elementos de lista2 a la lista1, uno por uno:

In [ ]:
#Añadir lista2 a lista1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

O puedes utilizar el extend() metodo, donde el porposito es agregar elementos de una lista a otra lista:

In [ ]:
#Utilice el extend() metodo, donde el proposito es agregar elemntos de una lista a otra lista
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

##TUPLAS DE PYTHON

In [ ]:
#Crear una tupla:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#Las tuplas permiten valores dupliacos:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')


*   LONGUITUD DE TUPLA

In [ ]:
#Imprima el numero de elemntos en la tupla
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3



*   CREAR UNA TUPLA CON UN ELEMENTO

In [ ]:
#Una tupla de elementos, recuerda la coma:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tupla
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>


*   ELEMENTOS DE TUPLA: TIPOS DE DATOS

In [ ]:
#Tipos de datos de cadena, int y booleanos:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

Una tupla puede contener diferentes tipos de datos:

In [ ]:
#Una tupla con cadenas, nemeros enteros y valores booleanos:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')


*   TIPO()

In [ ]:
#Cual es el tipo de datos de una tupla?
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>


*   EL CONSTRUCTOR TUPLE()

In [ ]:
#Usando el metodo tuple() para crear una tupla
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

##ACCESO A ELEMENTOS DE TUPLAS


*   ACCEDER A ELEMENTTOS DE TUPLA

In [ ]:
#Imprima el segundo elemento de la tupla:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana


*   INDEXACION NEGATIVA

In [ ]:
#Imrpima el ultimo elemento de la tupla:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry


*   RANGO DE INDICES

In [ ]:
#Devuelve el tercer, cuarto y quinto elemento:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
#Este ejemplo devulve los elementos desde el principio hasta "Kiwi", pero  NO incluidos
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
#Este ejemplo devuelve los elementos desde "cherry" hasta el final
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')


*   RANGO DE INDICES NEGATIVOS

In [ ]:
#Este ejemplo devuelve los elementos del indice -4 (incluido) al indice -1 (excluido)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')


*   COMPROBAR SI EL ARTICULO EXISTE

In [ ]:
#Compruebe si "manzana" este presente en la tupla:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

##ACTUALIZAR TUPLAS

In [ ]:
#Convierte la tupla en una lista para poder modificarla
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')


*   AGREGAR ARTÍCULOS

In [ ]:
#Convierte la tupla en una lista, agrega "naranja" y conviertela nuevamente en una tupla:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
#Crea una nueva tupla con el valor "naranja" y agrega esa tupla:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')


*   ELIMINAR ELEMENTOS

In [ ]:
#Convierte la tupla en una lista, elimina "manzana" y conviertela nuevamente en una tupla
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

##DESCOMPRIMIR TUPLAS


*   EMPAQUETANDO UNA TUPLA

In [ ]:
#Empaquetando una tupla
fruits = ("apple", "banana", "cherry")


*    DESEMPAQUETANDO UNA TUPLA

In [ ]:
#Desempaquetando una tupla
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry


*   USANDO ASTERISCO

In [ ]:
#Asigna el resto de valores como una lista llamado "rojo"
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
#Añade una lista de valores a la variable "trópico"
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

##TUPLAS DE BUCLE


*   RECORRER UNA TUPLA EN BUCLE

In [ ]:
#Iterar a tráves de los elementos e imprimir los valores:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry


*   RECORRER LOS NÚMEROS DE ÍNDICE

In [ ]:
#Imprima todos los artículos consultando su número de índice
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
#Imprimir todos los elementos, utilizando un while bucle para recorrer todos los números de índice
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

##UNIR TUPLAS

In [ ]:
#Unir dos tuplas
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)


*   MULTIPLICAR TUPLAS

In [ ]:
#Multiplica la tupla de frutas por 2
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

##CONJUNTOS DE PYTHON

In [ ]:
#Crear un conjunto:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}


*   DUPLICADOS NO PERMITIDOS

In [ ]:
#Los valores duplicados serán ignorados
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
#True y 1 se considera el mismo valor:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [ ]:
#False y 0 se considera el mismo valor:
thisset = {"apple", "banana", "cherry", False, 0}
print(thisset)

{False, 'apple', 'cherry', 'banana'}


*   OBTENER LA LONGITUD DE UN CONJUNTO

In [ ]:
#Obtener el número de elementos en un conjunto
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3


*   ELEMENTOS DEL CONJUNTO: TIPOS DE DATOS

In [ ]:
#Tipos de datos de cadena , int y booleanos:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
#Un conjunto con cadenas, números enteros y valores booleanos
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}


*   TIPO()

In [ ]:
#cual es el tipo de datos de un conjunto?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>


*   EL CONSTRUCTOR SET()

In [ ]:
#Usando el constructor set() para crear un conjunto
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}